VITE_ADMIN_EMAIL=seu_email_admin@exemplo.com
VITE_ADMIN_PASSWORD=sua_senha_aqui
VITE_EMAILJS_SERVICE_ID=service_xxxxxxx
VITE_EMAILJS_TEMPLATE_ID=template_xxxxxxx
VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxx
